.Answer {
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  height: auto;
  overflow: hidden;
  transition: all .15s ease-in-out;
}

.Answer:not(:last-child) {
  margin-bottom: 25px;
}

.AnswerBtn {
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-blue-light-primary);
  border-radius: 12px;
  color: var(--color-blue-light-secondary);
  display: flex;
  height: 100%;
  transition: color .15s ease-in-out;
  width: 100%;
}

.AnswerBtn:active,
.AnswerBtn:focus {
  outline: none;
}

.AnswerBtn:hover {
  background-color: var(--color-orange-primary);
  border-color: var(--color-orange-primary);
  color: var(--color-white);
  outline: none;

}

.Correct {
  background-color: var(--color-green-success);
  border-color: var(--color-green-success);
  color: var(--color-white);
  pointer-events: none;
}

.Incorrect {
  background-color: var(--color-red-error);
  border-color: var(--color-red-error);
  color: var(--color-white);
  pointer-events: none;
}

.Disabled {
  background-color: var(--color-grey-primary);
  border-color: var(--color-grey-primary);
  color: var(--color-grey-secondary);
  pointer-events: none;
}

.Label {
  font-size: 18px;
  flex-grow: 1;
  line-height: 36px;
  text-align: left;
}

.Counter {
  font-size: 20px;
  line-height: 24px;
  margin: 10px 20px;
}
.Check {
  height: 20px;
  margin-right: 18px;
  width: 20px;
}

.CheckCorrect {
  background-image: url('../../../assets/img/checked.svg');
}

.CheckIncorrect {
  background-image: url('../../../assets/img/x-mark.svg');
}

@media only screen and (min-width: 1024px) {
  .Counter {
    line-height: 36px;
    margin: 10px 20px;
  }

  .Label {
    font-size: 20px;
    line-height: 56px;
    margin-left: 25px;
  }
}