.AuthContainer {
  width: 464px;
}

.Title {
  color: var(--color-white);
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
}

.AuthContent {
  background-color: var(--color-white);
  border-radius: 24px;
  color: var(--color-blue-dark-primary);
  padding: 49px 20px;
}

.AuthDisclaimer {
  margin-top: 20px;
  text-align: center;
}

.AuthSwitch {
  color: var(--color-blue-dark-secondary);
  padding: 5px;
  position: relative;
  text-transform: capitalize;
}
.AuthSwitch::after {
  content: '';
  border-bottom: 2px solid var(--color-blue-dark-secondary);
  height: 0;
  left: 5px;
  position: absolute;
  transition: width .13s linear;
  top: 85%;
  width: 0;
}
.AuthSwitch:hover::after,
.AuthSwitch:focus::after{
  left: 5px;
  width: 86%;
}

.Header {
  margin-bottom: 26px;
  width: 100%;
}

.ContentTitle {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.ImgContainer {
  width: 238px;
  margin: 0 auto;
}

.Image {
  width: 100%;
}